<nav class="rt-nav">
  <%= link_to root_path, class: "rt-logo" do %>
    <span class="rt-logo-dot"></span>
    RUN TOGETHER
  <% end %>

  <ul class="rt-links">
    <li><%= link_to "Home", root_path, class: current_page?(root_path) ? "active" : "" %></li>

    <% if user_signed_in? %>
      <li><%= link_to "Explorar", runs_path, class: current_page?(runs_path) ? "active" : "" %></li>
      <li><%= link_to "Minhas Corridas", my_runs_path, class: current_page?(my_runs_path) ? "active" : "" %></li>
      <li><%= link_to "+ Criar Corrida", new_run_path, class: "rt-cta" %></li>
    <% end %>
  </ul>

  <div class="rt-user">
    <% if user_signed_in? %>
      <div class="rt-avatar">
        <%= current_user.name&.split&.map { |n| n[0] }&.first(2)&.join&.upcase %>
      </div>
      <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "rt-logout" do %>
        Sair
      <% end %>
    <% else %>
      <%= link_to "Entrar", new_user_session_path %>
    <% end %>
  </div>
</nav>
