<nav class="rt-nav">
  <%= link_to root_path, class: "rt-logo" do %>
    <span class="rt-logo-icon">
      <svg width="28" height="28" viewBox="0 0 28 28" fill="none" xmlns="http://www.w3.org/2000/svg">
        <circle cx="17" cy="5" r="2.5" fill="#ff4d00"/>
        <path d="M10 10.5L13.5 8.5L16 12.5L13 15L14.5 20H18L20 24H16L14 19L10.5 20.5H8L10 14.5L7.5 13L10 10.5Z" fill="#ff4d00"/>
        <path d="M6 23.5L8.5 22" stroke="#ff4d00" stroke-width="2" stroke-linecap="round"/>
        <path d="M17.5 20.5L20 23" stroke="#ff4d00" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </span>
    RUN TOGETHER
  <% end %>

  <ul class="rt-links">
    <li><%= link_to "Home", root_path, class: current_page?(root_path) ? "active" : "" %></li>

    <% if user_signed_in? %>
      <li><%= link_to "Mensagens", chats_path, class: current_page?(chats_path) ? "active" : "" %></li>
      <li><%= link_to "Minhas Corridas", my_runs_path, class: current_page?(my_runs_path) ? "active" : "" %></li>
      <li><%= link_to "+ Criar Corrida", new_run_path, class: "rt-cta" %></li>
    <% end %>
  </ul>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
          <a href="#" class="avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar", alt: "dropdown menu" %>
          </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Action", "#", class: "dropdown-item" %>
              <%= link_to "Another action", "#", class: "dropdown-item" %>
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
