<h1>Runs</h1>

<% @runs.each do |run| %>
  <div>
    <p><strong>Date:</strong> <%= run.date %></p>
    <p><strong>Time:</strong> <%= run.time.strftime("%H:%M") %></p>
    <p><strong>Location:</strong> <%= run.location %></p>
    <p><strong>Pace:</strong> <%= run.pace %></p>
    <%= link_to "View", run_path(run) %>
    <%= link_to "Delete", run_path(run), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
  </div>
<% end %>
